Debug/*
.vs/*
.vscode/*
*.db
*.opendb
*.filters
*.user

x64/Debug/*
x64/DLL_Release/*
x64/Release/*
x64/weights/*
x64/test_data/*.mp4
x64/IntelligentMonitor.dll
x64/*.exp
x64/*.iobj
x64/*.ipdb
x64/*.lib
x64/*.pdb
x64/*.exe
x64/data/labels/*
x64/test_save_file/*
x64/openh264-1.7.0-win64.dll
x64/test.cpp
x64/test.exe
